* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
  }
  .show {
    display: none;
  }
  
  textarea {
    resize: none;
  }
  
  .navbar {
    font-family: "Bruno Ace", sans-serif;
    border: 3px solid black;
    background-image: url("/img/RichLifestyle-BG.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .dropdownBtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #f2f2f2;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown {
    background-clip: padding-box;
    background-color: white;
    border: max(1px, 0.0625rem) solid #45415bf0;
    border-radius: 6px;
    box-shadow: 0 8px 24px #010409;
    left: 89%;
    list-style: none;
    margin-top: 2px;
    padding-bottom: 4px;
    padding-top: 4px;
    position: absolute;
    top: 70%;
    width: 160px;
    z-index: 100;
  }
  .dropdown a {
    color: #45415bf0 !important;
  }
  
  a:hover {
    background-color: transparent !important;
    border: max(1px, 0.0625rem) solid #45415bf0;
  }
  
  h3 {
    text-align: center;
  }
  
  /* BUTTON STYLING */
  .btn {
    display: inline-block;
    font-weight: 400;
    color: black;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #45415b;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: all 0.3s ease-in-out;
  }
  
  .btn:hover,
  .btn:focus,
  .btn:active {
    color: #fff;
    background-color: black;
    border-color: black;
    box-shadow: 0 0 0 0.2rem black;
  }

  #buttons
  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }